/*###################################################### SEARCH POST VIEW ##################################################*/

h1
{
  text-transform: uppercase;
  font-weight: 900;
  padding-left: 10px;
  margin-bottom: 30px;
  margin-top: 100px;
}

.card
{
  display: table-row;
  width: 49%;
  background-color: #fff;
  color: #989898;
  margin-bottom: 10px;
  text-transform: uppercase;
  border-radius: 1rem;
  position: relative;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card + .card{margin-left: 2%}

.date
{
  display: table-cell;
  width: 140px;
  position: relative;
  text-align: center;
  border-right: 1px solid rgba(0,0,0,.125);
}

.date:after
{
  top: auto;
  bottom: -15px
}

.date time
{
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%)
}

.date time span{display: block}

.date time span:first-child
{
  color: #2b2b2b;
  font-weight: 600;
  font-size: 250%
}

.date time span:last-child
{
  text-transform: uppercase;
  font-weight: 600;
  margin-top: -10px
}

.card-cont
{
  display: table-cell;
  width: 75%;
  font-size: 85%;
  padding: 10px 10px 30px 50px
}

.card-cont h3
{
  color: #3C3C3C;
  font-size: 130%
}

.card-cont .even-date i,
.card-cont .even-info i,
.card-cont .even-date time
{
  display: table-cell
}

.card-cont .even-info p
{
  padding: 0px 50px 0 0;
  margin-bottom: 0px;
}

.card-cont .even-info p:first-child
{
  margin-top: 20px;
}

.card-cont .even-date time span
{
  display: block
}

.card-cont form
{
  position: absolute;
  right: 15px;
  bottom: 15px
}

@media screen and (max-width: 992px)
{
  .card
  {
    display: block;
    float: none;
    width: 100%;
    margin-bottom: 10px
  }
  
  .card + .card{margin-left: 0}
  
  .card-cont .even-date,
  .card-cont .even-info
  {
    font-size: 75%
  }
}